.EmployeeTable {
  padding: 0.5rem;
}

.FilterAndArrangeMenu{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:space-between;
  justify-self:flex-start;
}