.FilterInputField{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    /* font-size: 15px; */
    left: 5%;
    justify-items: center;
    width: 100%;
}

.filterTitle{
    width: 40%;
    margin: 10px;
    justify-items: center;

}

select{
    position:relative;
    margin: 10px;
    width: 100%;
}