.FilterInputField{
    width: 10%; 
    margin-right: 10%;
    position:relative;
    display:flex;
    /* flex-wrap: wrap; */
    justify-items: start;
}

.filterTitle{
    margin-right: 5%;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    /* margin: 5px; */
    /* justify-items: center; */
}

select{
    position:relative;
    /* margin: 5px; */
}